.tab {
    background: #a8a8a8;
    color: #fff;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tab:hover {
    background: #777;
  }
  
  #header {
    color: #fff;
    text-align: center;
  }